<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="The design system sponsored by Cisco Brand">
        <meta name="image" content="http://cisco-ui.cisco.com/assets/img/uikit-1200x630%402x.png">
        <meta itemprop="name" content="Cisco UI Kit">
        <meta itemprop="description" content="The design system sponsored by Cisco Brand">
        <meta itemprop="image" content="http://cisco-ui.cisco.com">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Cisco UI Kit">
        <meta name="twitter:description" content="The design system sponsored by Cisco Brand">
        <meta property="og:title" content="Cisco UI Kit">
        <meta property="og:description" content="The design system sponsored by Cisco Brand">
        <meta property="og:image" content="https://cisco-ui.cisco.com/assets/img/uikit-1200x630%402x.png">
        <meta property="og:url" content="http://cisco-ui.cisco.com">
        <meta property="og:site_name" content="Cisco UI Kit">
        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="website">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ url_for('static',filename='img/apple-touch-icon.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static',filename='img/apple-touch-icon.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static',filename='img/apple-touch-icon.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static',filename='img/apple-touch-icon.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ url_for('static',filename='img/apple-touch-icon.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ url_for('static',filename='img/apple-touch-icon.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ url_for('static',filename='img/apple-touch-icon.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ url_for('static',filename='img/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" href="img/favicon.png" sizes="196x196">
        <link rel="icon" type="image/png" href="img/favicon.png" sizes="96x96">
        <link rel="icon" type="image/png" href="img/favicon.png" sizes="32x32">
        <link rel="icon" type="image/png" href="img/favicon.png" sizes="16x16">
        <link rel="icon" type="image/png" href="img/favicon.png" sizes="128x128">
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
        <meta name="application-name" content="Cisco UI Kit">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="img/mstile.png">
        <meta name="msapplication-square70x70logo" content="img/mstile.png">
        <meta name="msapplication-square150x150logo" content="img/mstile.png">
        <meta name="msapplication-wide310x150logo" content="img/mstile.png">
        <meta name="msapplication-square310x310logo" content="img/mstile.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>SSID Availability</title>

        <link rel="stylesheet" href="{{ url_for('static',filename='css/cui-standard.min.css') }}">

        <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
        <script src="../public/js/styleguide.js"></script>

        <script type= text/javascript src="{{url_for('static',filename='js/button.js')}}"></script>


         <script type=text/javascript>
            $(document).ready(function() {
                $("#status span").each(function( index ) {
                    if($(this).text() == "True"){
                        $(this).text("Online")
                    }

                    else {
                        $(this).text("Offline")
                        $(this).attr('class', 'label label--danger');
                    }
                });
             });
        </script>
        
        <script type=text/javascript>
            $(document).ready(function() {
            $("#ssid").submit(function(e) {
            e.preventDefault();
            $("#hello").show();
            var x = $("#input-type-select").val();
            $("#ssid_name").text(x);;
             });
        });
		</script>
    </head>
    <body class="cui">
        <nav class="header" id="styleguideheader" role="navigation">
            <div class="container-fluid">
                <div class="header-panels">
                    <div class="header-panel hidden-md-down">
                        <a class="header__logo" href="http://www.cisco.com" target="_blank">
                            <span class="icon-cisco"></span>
                        </a>
                        <h1 class="header__title">
                            <span>SSID Availabilty Page</span>
                        </h1>
                    </div>
                    <div class="header-panel header-panel--center base-margin-left base-margin-right hidden-lg-up">
                        <a class="header__logo" href="http://www.cisco.com" target="_blank">
                            <span class="icon-cisco"></span>
                        </a>
                    </div>
                    <div class="header-panel header-panel--right hidden-md-down">
                        <a href="../index.html" class="header-item" title="UI Kit Home"><span class="icon-home"></span></a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="content content--alt">
            <div class="container-fluid">
                <div class="row">

                    <!-- Left Rail -->
                    <div class="col-xl-3">
                        <div class="section">

                            <!-- Palette -->
                            <div class="panel panel--loose panel--raised base-margin-bottom">
                                <h2 class="subtitle">SSID(s)</h2>
                                <hr>
                                <div class="section">
                                        <div class="row">
                                        <div class="col-md-8 base-margin-bottom">
                                                <h6>Name</h6>
                                        </div>
                                        <div class="col-md-4 base-margin-bottom">
                                                <h6>Online Status</h6>
                                        </div>
                                    </div>
                                            {% for ssid in ssids %}
                                            <div class="row">
                                                <div class="col-md-8 base-margin-bottom">
                                                    <h6>{{ ssid.name }}</h6>
                                                </div>
                                                <div class="col-md-4 base-margin-bottom" id="status">
                                                    <span class="label label--success">{{ ssid.enabled }}</span>
                                                    <br>
                                                </div>
                                            </div>
                                            {% endfor %}
                                </div>
                                <div class="section">
                                    <div class="base-margin-bottom">
                                        <div id="theme-colors"></div>
                                    </div>
                                    <div class="col-xl-8" style="padding-bottom: 15em;">
                                        <h2 class="subtitle">Edit SSID Schedule</h2>
                                        <hr>
                                        <form class="ssids" id="ssid">
                                            <div class="form-group base-margin-bottom">
                                                <div class="form-group__text select">
                                                    <select id="input-type-select" name="input-type-select">
                                                        {% for ssid in ssids %}
                                                        <option value="{{ ssid.name }}">{{ ssid.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <br>
                                                <button type= "submit" class="btn btn--secondary">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Middle Rail -->
                    <div class="col-xl-6">
                        <div class="section" >
                            <div class="panel panel--loose panel--raised base-margin-bottom">
                                <h6>Welcome</h6>
                            </div>
                            <div class="panel panel--loose panel--raised base-margin-bottom"id="hello" style="display:none">
                                    <div class="row">
                                        <h6 id=ssid_name></h6>
                                    </div>
                                <div class="row">
                                        <div class="col-md-1 base-margin-bottom">
                                                <label class="checkbox">
                                                    <input type="checkbox" checked="" class="active">
                                                    <span class="checkbox__input"></span>
                                                </label>
                                        </div>
                                        <div class="col-md-2 base-margin-bottom">
                                                <h6>Mondays</h6>
                                        </div>
                                        <div class="col-md-4 base-margin-bottom">
                                            <form>
                                                <input type="time" id="appt" name="appt" min="09:00" max="18:00" required>
                                            </form>
                                        </div>
                                        <div class="col-md-4 base-margin-bottom">
                                            <form>
                                                <input type="time" id="appt" name="appt" min="09:00" max="18:00" required>
                                            </form>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-1 base-margin-bottom">
                                                <label class="checkbox">
                                                    <input type="checkbox" checked="" class="active">
                                                    <span class="checkbox__input"></span>
                                                </label>
                                        </div>
                                        <div class="col-md-2 base-margin-bottom">
                                                <h6>Tuesday</h6>
                                        </div>
                                        <div class="col-md-8 base-margin-bottom">
                                            <form>
                                                <input type="time" id="appt" name="appt" min="09:00" max="18:00" required>
                                            </form>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-1 base-margin-bottom">
                                                <label class="checkbox">
                                                    <input type="checkbox" checked="" class="active">
                                                    <span class="checkbox__input"></span>
                                                </label>
                                        </div>
                                        <div class="col-md-2 base-margin-bottom">
                                                <h6>Wednesday</h6>
                                        </div>
                                        <div class="col-md-8 base-margin-bottom">
                                            <form>
                                                <input type="time" id="appt" name="appt" min="09:00" max="18:00" required>
                                            </form>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-1 base-margin-bottom">
                                                <label class="checkbox">
                                                    <input type="checkbox" checked="" class="active">
                                                    <span class="checkbox__input"></span>
                                                </label>
                                        </div>
                                        <div class="col-md-2 base-margin-bottom">
                                                <h6>Thursday</h6>
                                        </div>
                                        <div class="col-md-8 base-margin-bottom">
                                            <form>
                                                <input type="time" id="appt" name="appt" min="09:00" max="18:00" required>
                                            </form>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-1 base-margin-bottom">
                                                <label class="checkbox">
                                                    <input type="checkbox" checked="" class="active">
                                                    <span class="checkbox__input"></span>
                                                </label>
                                        </div>
                                        <div class="col-md-2 base-margin-bottom">
                                                <h6>Friday</h6>
                                        </div>
                                        <div class="col-md-8 base-margin-bottom">
                                            <form>
                                                <input type="time" id="appt" name="appt" min="09:00" max="18:00" required>
                                            </form>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-1 base-margin-bottom">
                                                <label class="checkbox">
                                                    <input type="checkbox" checked="" class="active">
                                                    <span class="checkbox__input"></span>
                                                </label>
                                        </div>
                                        <div class="col-md-2 base-margin-bottom">
                                                <h6>Saturday</h6>
                                        </div>
                                        <div class="col-md-8 base-margin-bottom">
                                            <form>
                                                <input type="time" id="appt" name="appt" min="09:00" max="18:00" required>
                                            </form>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-1 base-margin-bottom">
                                                <label class="checkbox">
                                                    <input type="checkbox" checked="" class="active">
                                                    <span class="checkbox__input"></span>
                                                </label>
                                        </div>
                                        <div class="col-md-2 base-margin-bottom">
                                                <h6>Sunday</h6>
                                        </div>
                                        <div class="col-md-8 base-margin-bottom">
                                            <form>
                                                <input type="time" id="appt" name="appt" min="09:00" max="18:00" required>
                                            </form>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Right Rail -->
                    <div class="col-xl-3">
                        <div class="section">

                            <!-- Accordion -->
                            <div class="panel panel--loose panel--raised base-margin-bottom">
                                <h2 class="subtitle">Organization</h2>
                                <hr>
                                <div class="section">
                                    <h6> Name: {{org.name}}</h6>
                                    <a href="{{org.url}}">Link to Dashboard</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="footer__links">
                    <ul class="list list--inline">
                        <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
                        <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank">Help</a></li>
                        <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">Terms & Conditions</a></li></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank">Privacy Statement</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank">Cookie Policy</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank">Trademarks</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
</html>
